<section id="learn-more">
  <h3>Get Usefull business tips and free resources directly to your inbox, along with subscriber only content</h3>
  <a href="/learn-more" class="btn btn-dark btn-lg " data-bs-toggle="modal" data-bs-target="#reg-modal" role="button" aria-pressed="true">SignUp for our newsletter <i class="fa fa-arrow-right"></i></a>
</section>
<footer class="footer">
  <div class="row">
    <div class="feature-box col-lg-6 ">
      <img class="call" src="images/call.svg" alt="">

    </div>
    <div class="feature-box col-lg-6 ">
      <h1>Reach Out</h1>
      <hr>
      <h2>GrowthX</h2>
      <h5><a class="email-link" href="#">info@growthx.com</a></h5>
      <div class="social">
        <h6>Follow us on social media</h6>
        <a href="#"><i class="foot fa-brands fa-twitter"></i></a>
        <a href="#"><i class="foot fa-brands fa-facebook"></i></a>
        <a href="#"><i class="foot fa-brands fa-instagram"></i></a>
        <div class=" row footer-link">
          <div class="feature-box col-lg-4 ">

            <h3><a class="email-link" href="/about">About</a></h3>
          </div>
          <div class="feature-box col-lg-4 ">
            <h3><a class="email-link" href="/contact">Contact</a></h3>
          </div>
          <div class="feature-box col-lg-4 ">
            <h3><a class="email-link" href="#">Terms</a></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="index.js" charset="utf-8"></script>

</body>

<a class="service-link" target="_blank" href="https://icons8.com/icon/U9erpG71otIT/web-design">Web Design</a> icon by <a class="service-link" target="_blank" href="https://icons8.com">Icons8</a>

</html>
