<%- include("partials/header"); -%>
<section id="services">
  <!-- <h3><span>GrowthX </span>is an innovation driven agency, cutting acrose different sphares of business management, growth and startup</h3> -->
  <h1>Who We Are</h1>
  <h5>At <span>GrowthX </span>, we work with you to optimize your business from the top down. As a managerial consultant firm, our group of professional consultants are always here to help your business get off the ground and grow.</h5>
  <h1>What We Do </h1>
  <div class="row">
  <div class="col-sm-4">
    <div class="card card1">
      <div class="card-body">
        <h3 class="card-title">Small Business Consulting</h3>
        <p class="card-text">* Building a healthy foundation for your business. <br> * Managing and growing your path</p>

      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card card1">
      <div class="card-body">
        <h3 class="card-title">eCommerce consulting</h3>
        <p class="card-text">*Creating market analyses and plans. <br>*Establishing your business on additional platforms</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card card1">
      <div class="card-body">
        <h3 class="card-title">Startup</h3>
        <p class="card-text">*Establishing your business on additional platforms.<br>* Establishing your business on additional platforms</p>
      </div>
    </div>
  </div>
</div>
<div class="Success">

  <h3>Success happens to those who work for it.</h3>
</div>
<img class="image"src="images/success.png" alt="">
<h3>We’re a Results-Driven Agency</h3>
<h6>At GrowthX, we take a strategy-first approach to show you real results. Our team goes above and beyond to ensure our web marketing campaigns do not just drum up new business for our clients but also support sustainable success.</h6>

</section>


<%- include("partials/footer") -%>
