<%- include("partials/header") -%>
<section id="home">

<section class="top">
  <div class="row">

    <div class="col-lg-6 col-12 header">
      <h1>Business Driven By "X" Factor.</h1>
      <a href="/learn-more" class="btn btn-light btn-lg " role="button" aria-pressed="true">Learn More <i class="fa fa-arrow-right"></i></a>
    </div>
    <div class="col-lg-6 col-12">
      <img class="growthx" src="images/growthx1.svg" alt="growthx">

    </div>
  </div>

</section>
<section id="features">
  <div class="row">
    <div class="feature-box col-lg-4 ">
      <img class="client"src="images/icons8-client-64 (2).png" alt="">
      <h3>Client First.</h3>
      <p>Your intrest is our No. 1 Priority.</p>
    </div>
    <div class="feature-box col-lg-4 ">
      <img src="images/icons8-honesty-30.png" alt="">
      <h3>We Are Honest</h3>
      <p>Our first Business Ethic is Honesty.</p>
    </div>
    <div class="feature-box col-lg-4 ">
      <img src="images/icons8-guarantee-30.png" alt="">
      <h3>Guaranteed to work.</h3>
      <p>We employ proven strategies.</p>
    </div>

  </div>
</section>

<section  id="services">
<div class="grow">
  <h3><span>GrowthX </span>is a startup looking to change the way people do business,
    Helping you break your limits</h3>


</div>
  <div class="row ">
    <div class="feature-box col-lg-6 ">
      <img src="images/icons8-digital-marketing-64 (1).png" alt="">
      <h3><a class="service-link" href="/digital-marketing">Digital Marketing.</a></h3>
    </div>
    <div class="feature-box col-lg-6 ">
      <img src="images/icons8-product-design-64.png" alt="">
      <h3><a class="service-link" href="#">Product Design.</a></h3>


    </div>
  </div>
  <div class="row">
    <div class="feature-box col-lg-6 ">
      <img src="images/icons8-web-design-64.png" alt="">
      <h3><a class="service-link"href="#">Web Design</a></h3>

    </div>
    <div class="feature-box col-lg-6 ">
      <img src="images/icons8-digital-marketing-68.png" alt="">
      <h3><a class="service-link"href="#">Content Creation</a></h3>
    </div>
  </div>

</section>
<section id="testimonials">

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="false" data-interval="3000" data-pause="hover">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h2>I have really experienced the "X" drive growth, and trust me it's graet</h2>
        <img class="testimonial-image" src="images/black-man.png" alt="dog-profile">
        <em>Hancarri, Asaba Delta</em>
      </div>
      <div class="carousel-item">
        <h2 class="testimonial-text">They introduced us to new business metrics,collected stats to prove it,in fact they gave my business a new lifeline.</h2>
        <img class="testimonial-image" src="images/man.jpg" alt="lady-profile">
        <em>Aigle, Lagos</em>
      </div>
    </div>
    <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
<section id="business-insider">
  <h2><span>GrowthX </span>Business insider</h2>

  <div class="row">
  <div class="col-sm-4">
    <div class="card card1">
      <div class="card-body">
        <h3 class="card-title">Special title treatment</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-light">Read more</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card card1">
      <div class="card-body">
        <h3 class="card-title">Special title treatment</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-light">Read more</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card card1">
      <div class="card-body">
        <h3 class="card-title">Special title treatment</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-light">Read more</a>
      </div>
    </div>
  </div>
</div>
  </section>

</section>

<%- include("partials/footer") -%>
