<%- include("partials/header") -%>
<section id="business-insider">

  <table>
    <thead>
      <th>ID</th>
      <th>Coin ID</th>
      <th>Name</th>
      <th>Symbol</th>
      <th>Market Cap Rank</th>
      <th>Thumb</th>
      <th>Small</th>
      <th>Large</th>
      <th>Slug</th>
      <th>Price BTC</th>
      <th>Score</th>

    </thead>
    <tbody >
      <%= coins.item %>
    </tbody>
  </table>
</section>



<%- include("partials/footer") -%>
