<%- include("partials/header") -%>

  <section  id="services">
  <div class="grow">
    <h3><span>GrowthX </span>is a startup looking to change the way people do business,
      Helping you break your limits</h3>


  </div>
    <div class="row ">
      <div class="feature-box col-lg-6 ">
        <img src="images/icons8-digital-marketing-64 (1).png" alt="">
        <h3><a class="service-link" href="#">Digital Marketing.</a></h3>
      </div>
      <div class="feature-box col-lg-6 ">
        <img src="images/icons8-product-design-64.png" alt="">
        <h3><a class="service-link" href="#">Product Design.</a></h3>


      </div>
    </div>
    <div class="row">
      <div class="feature-box col-lg-6 ">
        <img src="images/icons8-web-design-64.png" alt="">
        <h3><a class="service-link"href="#">Web Design</a></h3>

      </div>
      <div class="feature-box col-lg-6 ">
        <img src="images/icons8-digital-marketing-68.png" alt="">
        <h3><a class="service-link"href="#">Content Creation</a></h3>
      </div>
    </div>

  </section>


<%- include("partials/footer") -%>
